.form__group {
    display: flex;
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 80%;
  }
  
  .form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid aquamarine;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
  }
  .form__field::placeholder {
	color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
	font-size: 1.5rem;
	cursor: text;
	top: 20px;
  }

  .form__field:not(:placeholder-shown) ~ .form__label {
    color: yellow;
    font-size: 1.2rem;
  }
  
  .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 2rem;
	color: skyblue;
  }
  
  .form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, red, yellow, lime);
	border-image-slice: 1;
    zoom: 2;
    height: auto;
    
  }
  .form__field:focus ~ .form__label {
	position: absolute;
	top: -6rem;
	display: block;
	transition: 0.2s;
	font-size: 3rem;
	color: red;
	font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
	box-shadow: none;
  }
  

/***************************************************************************/
/* for Desktop website */
@media only screen and (min-width: 1000px) {
    .form__field:focus {
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, red, yellow, lime);
        border-image-slice: 1;
        zoom: normal;
    }

    .form__field:focus ~ .form__label {
        position: absolute;
        top: -3rem;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: deeppink;
        font-weight: 700;
      }
}
 