/**************************************************************************/
/*   For portrait View   */
#selectedimg{
    display: flex;
    width: 80vw;
    height: 80vw;
    margin-left: 9vw;
    margin-right: 9vw;
    container-type: inline-size;
    background-color: black;
}

.planet_symbol{
    font-size: 0.6cqw;
    min-width: 10px;
}

.sign_number{
    font-size: 0.9cqw;
    min-width: 10px;
}

#mainpage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#divisionButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.divisionButton{
    width: 10cqw;
    min-width: 6cqw;
    height: 10cqw;
    min-height: 6cqw;
    margin: 1cqw;
    border: 0.7cqw solid purple;
    font-size: 5cqw;
    margin: 1cqw;
    background-color: aquamarine;
    align-content: center;
    text-align: center;
}

.divisionButton:hover{
    transform: scale(1.15);
}

/************************************************************************/
#firsthousesign{
    width: 15rem;
    min-width: 15rem;
    height: 5rem;
    min-height: 5rem;
    font-size: 2rem;
    border: 3px blue solid;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 1cqw;
    margin-left: 15px;
}

#firsthousesign:hover{
    transform: scale(1.15);
}
/***************************************************************************/
/* for landscape website */
@media (orientation: landscape) {
    #selectedimg{
        width: 70vh;
        height: 70vh;
        margin: 2%;
    }

    .planet_symbol{
        font-size: 1.2cqw;
    }

    .sign_number{
        font-size: 1.5cqw;
    }

    #divisionButtons{
        width: 50vw;
    }

    .divisionButton{
        width: 5cqw;
        min-width: 5cqw;
        height: 5cqw;
        min-height: 5cqw;
        font-size: 2.8cqw;
        cursor: pointer;
    }
}

.topNavBar{
    display: flex;
    flex-direction: row;
}

.navBarItem{
    padding: 10px;
    border: 1px, solid, pink;
    background-image: linear-gradient(45deg, red, blue);
    color: white;
    width: 30%;
    text-align: center;
    font-size: xx-large;
}

.navBarItem:hover{
    transform: scale(1.2);
    color: yellow;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 05%;
}



/***************************************************************************/
/* for landscape website */
@media screen and (max-width: 450px) {
    .planet_symbol{
        font-size: 5px;
    }

    .sign_number{
        font-size: 5px;
    }
  }